<div class="content content-gray" id="news">
	<div class="container">

		<!-- heading -->
		<div class="content-heading">
			<h4> Recent News </h4>
		</div>

		<div class="row">
		
			<!-- item -->
			<div class="col-md-4 news-first-row">
				<div class="recent-news">
					<div class="news-cover">
						<img src="assets/img/n.jpg">
					</div>

					<div class="news-title">
						<div class="row">
							<div class="col-md-3 col-xs-3 text-center news-icon-container">
								<span class="fa fa-photo news-icon"></span>
							</div>

							<div class="col-md-9 col-xs-9 news-head">
								Vivamus rutrum nunc non nenque rutrum nunc rutrum nunc
							</div>
						</div>
					</div>
				</div>
			</div>
				
		</div> <!-- /.row -->

	</div> <!-- /.container -->
</div> <!-- /.content content-gray | #news -->
