<footer role="footer">
	<div class="container">
		<div class="pull-left">
			<p> &copy; 2009-2014 <strong>Pamantasan ng Lungsod ng Maynila</strong>. All Rights Reserved. </p>
		</div>

		<div class="pull-right">
			<span class="special-remarks"> Developed by <a href="http://srph.github.io">SRPH (Kier Borromeo)</a> </span>

			<ul class="social-media">
				<li> <a href="//facebook.com/PLM.CEP"> <i class="fa fa-facebook"></i> </a> </li>
				<li> <a href="//twitter.com/PLM_CEP_Media"> <i class="fa fa-twitter"></i> </a> </li>
				<li> <a href="//github.com/plmph"> <i class="fa fa-github-alt"></i> </a> </li>
			</ul>
		</div>
	</div>
</footer>