<div class="nav-canopy">
	<div class="container">
		<div class="nav-canopy-heading">
			<a href="#">
				<div class="nav-canopy-logo">
					<img src="/assets/img/plm-seal.png">
				</div>
				Pamantasan ng Lungsod ng Maynila
			</a>
			<!-- responsive -->
		</div>

		<ul class="nav-canopy-links" id="nav-canopy">
			<li> <a href="//facebook.com/PLM.CEP"> <span class="fa fa-facebook"></span> </a> </li>
			<li> <a href="//twitter.com/PLM_CEP_Media"> <span class="fa fa-twitter"></span> </a> </li>
			<li> <a href="//github.com/plm"> <span class="fa fa-github-alt"></span> </a> </li>
		</ul>
	</div>
</div>