/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/public/assets/js/
/public/assets/css/
/public/assets/vendor/
/public/build/
/public/assets/sass/default/.sass-cache
/node_modules/
npm-debug.log