@import "../util/_typography";

/**
 * Usage:
 <div class="u-textVerticalAlign">
 	<h1 class="u-textVerticalAlign-text u-textVerticalAlign-text--center">
 </div>
 */
.u-textVerticalAlign {
	@include u-textVerticalAlign();

	.u-textVerticalAlign-text {
		@include u-textVerticalAlign-text();

		&.u-textVerticalAlign-text--top {
			vertical-align: top;
		}

		&.u-textVerticalAlign-text--center {
			vertical-align: middle;
		}

		&.u-textVerticalAlign-text--bottom {
			vertical-align: bottom;
		}
	}
}

.u-textHorizontalCenter {
	text-align: center;
}

.u-uppercase {
	text-transform: uppercase;
}