@import url("http://fonts.googleapis.com/css?family=Merriweather:400,700italic,400italic,300,900,700,900italic,300italic");

p {
	font-family: "Merriweather";
	color: #3F3F3F;
	line-height: 26px;
	margin-top: 26px;
}

.text-vertical-bg {
	display: table;
	height: 100%;
	width: 100%;
}

.text-vertical-center {
	display: table-cell;
	vertical-align: middle;
}