<div class="content-heading">
	<h4> Recents Events </h4>
</div>

<div class="row">

	<div class="col-md-6">
		<div class="recent-x">
			<div class="x-date">
				<span class="date-day"> 23 </span>
				<span class="date"> JUN, 2013 </span>
			</div>

			<div class="x-cover">
				<img src="assets/img/n.jpg">
			</div>

			<div class="x-title">
				<span> 50th Golden Anniversary </span>
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="recent-x">
			<div class="x-date">
				<span class="date-day"> 23 </span>
				<span class="date"> JUN, 2013 </span>
			</div>

			<div class="x-cover">
				<img src="assets/img/n.jpg">
			</div>

			<div class="x-title">
				<span> 50th Golden Anniversary </span>
			</div>
		</div>
	</div>

</div> <!-- /.row -->