<div class="content-heading">
	<h4> Recents Galleries </h4>
</div>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="recent-x">
			<div class="x-date">
				<span class="date-day"> 23 </span>
				<span class="date"> JUN, 2013 </span>
			</div>

			<div class="x-cover">
				<img src="assets/img/n.jpg">
			</div>

			<div class="x-title">
				<span> 50th Golden Anniversary </span>
			</div>
		</div>
	</div>

	<div class="col-md-3 col-xs-6 recent-x-sm-first-two">
		<div class="recent-x-sm">
			<div class="x-date">
				<span class="date-day"> 23 </span>
				<span class="date"> JUN, 2013 </span>
			</div>

			<div class="x-cover">
				<img src="assets/img/n.jpg">
			</div>

			<div class="x-title">
				<span> 50th Golden Anniversary </span>
			</div>
		</div>
	</div>

	<div class="col-md-3 col-xs-6 recent-x-sm-first-two">
		<div class="recent-x-sm">
			<div class="x-date">
				<span class="date-day"> 24 </span>
				<span class="date"> MAY, 2013 </span>
			</div>

			<div class="x-cover">
				<img src="assets/img/n.jpg">
			</div>

			<div class="x-title">
				<span> 50th Golden Anniversary </span>
			</div>
		</div>
	</div>

	<div class="col-md-3 col-xs-6 recent-x-sm-last-two">
		<div class="recent-x-sm">
			<div class="x-date">
				<span class="date-day"> 14 </span>
				<span class="date"> AUG, 2013 </span>
			</div>

			<div class="x-cover">
				<img src="assets/img/n.jpg">
			</div>

			<div class="x-title">
				<span> 50th Golden Anniversary </span>
			</div>
		</div>
	</div>

	<div class="col-md-3 recent-x-sm-last-two">
		<div class="recent-x-sm">
			<div class="x-date">
				<span class="date-day"> 69 </span>
				<span class="date"> APR, 2013 </span>
			</div>
			<div class="x-cover">
				<img src="assets/img/n.jpg">
			</div>

			<div class="x-title">
				<span> 50th Golden Anniversary </span>
			</div>
		</div>
	</div>
</div>