<section class="content" id="news" ng-controller="NewsCtrl">
	<div class="container">

		<!-- heading -->
		<div class="content-heading">
			<h4> Recent News </h4>
		</div>

		<div class="row">
		
			<!-- item -->
			<div class="col-md-6 u-spanHr u-spanHr--1" ng-repeat="article in bundle">
				<a href="" class="u-imageBlock u-textVerticalAlign recentNews" style="background-image: url('assets/img/n.jpg')">

					<h4 class="u-textVerticalAlign-text u-textVerticalAlign-text--center text-center">
						<span class="recentNews-title">{{ article.title }}</span>
					</h4>
				</a>
			</div>
				
		</div> <!-- /.row -->

		<div class="text-center"> <a ui-sref="media.news" class="btn btn-danger"> Read more news... </a> </div>
	</div> <!-- /.container -->
</section> <!-- /.content content-gray | #news -->
