<div class="content content-gray" id="news" ng-controller="NewsCtrl">
	<div class="container">

		<!-- heading -->
		<div class="content-heading">
			<h4> Recent News </h4>
		</div>

		<div class="row">
		
			<!-- item -->
			<div class="col-md-4 news-first-row" ng-repeat="article in bundle">
				<div class="recent-news">
					<div class="news-cover">
						<img src="assets/img/n.jpg">
					</div>

					<div class="news-title">
						<div class="row">
							<div class="col-md-3 col-xs-3 text-center news-icon-container">
								<span class="fa fa-pencil news-icon"></span>
							</div>

							<div class="col-md-9 col-xs-9 news-head">
								{{ article.title }}
							</div>
						</div>
					</div>
				</div>
			</div>
				
		</div> <!-- /.row -->

		<div class="text-center"> <a href="#" class="btn btn-danger"> Read more news... </a> </div>
	</div> <!-- /.container -->
</div> <!-- /.content content-gray | #news -->
