<div class="news-canopy" ng-controller="NewsCtrl">
	<div class="row text-center">
		<a href="#" class="col-md-4 news-canopy-item">
			<div class="news-canopy-cover"><img ng-src="{{ getImageLink(bundle[0].image) }}"></div>
			<span class="news-canopy-item-type"> News </span>
			<span class="news-canopy-item-date" ng-bind="formatDate(bundle[0].created_at)"></span>
			<span class="news-canopy-item-heading" ng-bind="bundle[0].title"></span>
		</a>

		<a href="#" class="col-md-4 news-canopy-item">
			<div class="news-canopy-cover"><img ng-src="{{ getImageLink(bundle[1].image) }}"></div>
			<span class="news-canopy-item-type"> News </span>
			<span class="news-canopy-item-date" ng-bind="formatDate(bundle[1].created_at)"></span>
			<span class="news-canopy-item-heading" ng-bind="bundle[1].title">
				PLM opens new School Year!
			</span>
		</a>

		<a href="#" class="col-md-4 news-canopy-item">
			<div class="news-canopy-cover"><img ng-src="{{ getImageLink(bundle[2].image) }}"></div>
			<span class="news-canopy-item-type"> News </span>
			<span class="news-canopy-item-date" ng-bind="formatDate(bundle[2].created_at)"></span>
			<span class="news-canopy-item-heading" ng-bind="bundle[2].title"></span>
		</a>
	</div>

	<div class="row text-center">
		<a href="#" class="col-md-4 news-canopy-item">
			<div class="news-canopy-cover"><img ng-src="{{ getImageLink(bundle[3].image) }}"></div>
			<span class="news-canopy-item-type"> News </span>
			<span class="news-canopy-item-date" ng-bind="formatDate(bundle[3].created_at)"></span>
			<span class="news-canopy-item-heading" ng-bind="bundle[3].title"> </span>
		</a>

		<a href="#" class="col-md-4 news-canopy-item">
			<div class="news-canopy-cover"><img src="/assets/images/archive.jpg"></div>
			<span class="news-canopy-item-heading"> News Archive </span>
		</a>

		<a href="#" class="col-md-4 news-canopy-item">
			<div class="news-canopy-cover"><img ng-src="{{ getImageLink(bundle[4].image) }}"></div>
			<span class="news-canopy-item-type"> News </span>
			<span class="news-canopy-item-date" ng-bind="formatDate(bundle[4].created_at)"></span>
			<span class="news-canopy-item-heading" ng-bind="bundle[4].title"> </span>
		</a>
	</div>
</div>