// Font weight helper variables
// -----------------------------
$typeWeight-smallest: 	100;
$typeWeight-smaller: 	200;
$typeWeight-small: 		300;
$typeWeight-base: 		400;
$typeWeight-large: 		500;
$typeWeight-larger: 	600;
$typeWeight-largest: 	700;