<div class="content" id="hymn">
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>

			<div class="col-md-8">
				<!-- heading -->
				<div class="content-heading">
					<h4> PLM Hymn </h4>
				</div>

				<!-- content -->
				<h4> Pamantasang Mahal </h4>

				<p>
					Pamantasan, Pamantasang Mahal <br />
					Nagpupugay kami't nag-aalay <br />
					Ng Pag-ibig, taos na paggalang <br />
					Sa patnubay ng aming isipan. <br />
				</p>

				<p>
					Karunungang tungo'y kaunlaran <br />
					Hinuhubog kaming kabataan <br />
					Maging Pilipinong mero'ng dangal <br />
					Puso'y tigib ng kadakilaan. <br />
				</p>

				<p>
					Pamantasang Lungsod ng Maynila <br />
					Kaming lahat dito'y iyong punla <br />
					Tutuparin pangarap mo't nasa <br />
					Pamantasan kami'y nanunumpa. <br />
					Pamantasan kami'y nanunumpa. <br />
				</p>

				<p>
					The lyrics of the University Hymn was composed in 1968 by Gatpuno Antonio J. Villegas, Mayor of Manila, and was presented to the Board of Regents in Maharnilad (official name of the famous Manila City Hall). The music was composed by Prof. Felipe Padilla de Leon.
				</p>



				<h4> PLM Mabuhay </h4>
				<p>
					Tayo’y magdiwang
					PLM Mabuhay!
					Ang dunong mong aral
					Ay aming patnubay.
				</p>
				
				<p>
					Kami’y Nagpupugay
					Ng buong paggalang
					Dangal ka ng bayan
					PLM Mabuhay!
				</p>

				<p>
					Ang karunungan na tanging yaman
					Ay humuhubog ng gintong asal
					Sa kaunluran amin kang ilaw
					Tanging liwanag upang magtagumpay.
				</p>

				<p>
					‘Di malilimutan ang kadakilaan
					Mananatili ka sa puso’t isipan
					Dangal ka ng bayan
					PLM Mabuhay!
				</p>
			</div>
		</div>
	</div>
</div>