<footer role="footer">
	<div class="container">
		<div class="clearfix">
			<p class="pull-right social-media">
				Developed by <a href="#"> SRPH </a>
				<a href="//facebook.com/PLM.CEP"> <i class="fa fa-facebook"></i> </a>
				<a href="//twitter.com/PLM_CEP_Media"> <i class="fa fa-twitter"></i> </a>
				<a href="//github.com/srph/plm-web"> <i class="fa fa-github-alt"></i> </a>
			</p>
			<p class="copyright"> &copy; 2014 Pamantasan ng Lungsod ng Maynila. All Rights Reserved. </p>
		</div>
	</div>
</footer>