<div class="content" id="multimedia">
	<div class="container">
		<div class="row">
			<div class="col-md-4 content-item" content-item>
				<h2 class="text-center"> Admission </h2>
			</div>
			<div class="col-md-4 content-item">
				<h2 class="text-center"> Current Events </h2>
			</div>
			<div class="col-md-4 content-item">
				<h2 class="text-center"> Spotlight </h2>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 content-item">
				<h2 class="text-center"> Gallery </h2>
			</div>
			<div class="col-md-4 content-item">
				<h2 class="text-center"> Newsletter </h2>
			</div>
			<div class="col-md-4 content-item">
				<h2 class="text-center"> Photojournal </h2>
			</div>
		</div>
	</div>
</div>