<div class="content text-center" id="multimedia">
	<div class="container">
		<div class="row">
			<div class="col-md-4 content-item" id="admission">
				<ng-include src="'/app/components/home/partials/multimedia/admission.html'"></ng-include>
			</div>
			<div class="col-md-4 content-item" id="events">
				<ng-include src="'/app/components/home/partials/multimedia/events.html'"></ng-include>
			</div>
			<div class="col-md-4 content-item" id="spotlight">
				<ng-include src="'/app/components/home/partials/multimedia/spotlight.html'"></ng-include>
			</div>
		</div>

		<div class="row">
			<!-- Gallery -->
			<div class="col-md-4 content-item" id="gallery">
				<ng-include src="'/app/components/home/partials/multimedia/gallery.html'"></ng-include>
			</div>

			<!-- Newsletter -->
			<div class="col-md-4 content-item" id="newsletter">
				<ng-include src="'/app/components/home/partials/multimedia/newsletter.html'"></ng-include>
			</div>
			<div class="col-md-4 content-item" id="photojournal">
				<ng-include src="'/app/components/home/partials/multimedia/photojournal.html'"></ng-include>
			</div>
		</div>
	</div>
</div>