<div class="news-canopy">
	<div class="row text-center">
		<a href="#" class="col-md-4 news-canopy-item">
			<div class="news-canopy-cover"><img src="/assets/images/upload/news/GGGGG.jpg"></div>
			<span class="news-canopy-item-heading"> PLM Celebrates 150th Anniversary </span>
		</a>

		<a href="#" class="col-md-4 news-canopy-item">
			<div class="news-canopy-cover"><img class="news-canopy-cover" src="/assets/images/upload/news/jK62Z.jpg"></div>
			<span class="news-canopy-item-heading"> Pogi talaga si Kier! </span>
		</a>

		<a href="#" class="col-md-4 news-canopy-item">
			<div class="news-canopy-cover"><img class="news-canopy-cover" src="/assets/images/upload/news/sDgJK5.jpg"></div>
			<span class="news-canopy-item-heading"> Pogi talaga si Kier! </span>
		</a>
	</div>
</div>