<div class="news-canopy">
	<div class="row text-center">
		<a href="#" class="col-md-4 news-canopy-item">
			<div class="news-canopy-cover"><img src="/assets/images/upload/news/GGGGG.jpg"></div>
			<span class="news-canopy-item-type"> News </span>
			<span class="news-canopy-item-date"> June 14, 2014 </span>
			<span class="news-canopy-item-heading"> PLM Celebrates 150th Anniversary </span>

		</a>

		<a href="#" class="col-md-4 news-canopy-item">
			<div class="news-canopy-cover"><img src="/assets/images/upload/news/jK62Z.jpg"></div>
			<span class="news-canopy-item-type"> News </span>
			<span class="news-canopy-item-date"> May 6, 2014 </span>
			<span class="news-canopy-item-heading">
				PLM opens new School Year!
			</span
		</a>

		<a href="#" class="col-md-4 news-canopy-item">
			<div class="news-canopy-cover"><img src="/assets/images/upload/news/jX4JK.jpg"></div>
			<span class="news-canopy-item-type"> News </span>
			<span class="news-canopy-item-date"> March 4, 2014 </span>
			<span class="news-canopy-item-heading">
				Official PLM Seal institutionalized
			</span>
		</a>
	</div>

	<div class="row text-center">
		<a href="#" class="col-md-4 news-canopy-item">
			<div class="news-canopy-cover"><img src="/assets/images/upload/news/x325JK.jpg"></div>
			<span class="news-canopy-item-type"> News </span>
			<span class="news-canopy-item-date"> June 5, 2013 </span>
			<span class="news-canopy-item-heading"> PLM is 4th top Law school in Metro </span>
		</a>

		<a href="#" class="col-md-4 news-canopy-item">
			<div class="news-canopy-cover"><img src="/assets/images/archive.jpg"></div>
			<span class="news-canopy-item-heading"> News Archive </span>
		</a>

		<a href="#" class="col-md-4 news-canopy-item">
			<div class="news-canopy-cover"><img src="/assets/images/upload/news/sDgJK5.jpg"></div>
			<span class="news-canopy-item-type"> News </span>
			<span class="news-canopy-item-date"> August 23, 2013 </span>
			<span class="news-canopy-item-heading"> PLM dominated the LET: Top 1 & Top 10 </span>
		</a>
	</div>
</div>