<h2 class="content-heading"> Admission </h2>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur condimentum est at vulputate pharetra. Suspendisse ac tellus vitae lectus commodo vulputate non in massa. Curabitur vehicula sodales est non suscipit. Fusce sodales eget lectus sed rhoncus.</p>
<p> Donec at augue erat. Aliquam erat volutpat. Phasellus tincidunt felis ac auctor malesuada. Ut sit amet eleifend massa. Morbi nec tincidunt lorem. </p>

<button type="button" class="btn btn-success"> Inquire Now! </button>