<h2 class="content-heading"> Current Events </h2>
<div class="event-cover">
	<img src="/assets/images/upload/events/DFK43.jpg" class="img-responsive">
</div>	
<h4 class="event-head text-center"> PLM 50th Golden Anniversary </h4>

<div class="clearfix">
	<div class="pull-right text-right">
		<h5> UAC </h5>
		<p> <i class="fa fa-map-marker event-icon"></i> Venue </p>
	</div>

	<h5> 5:30 - 10:00 </h5>
	<p> <i class="fa fa-clock-o event-icon"></i>Time </p>
</div>

<div class="text-center">
	<button type="button" class="btn btn-info"> View Event </button>
</div>