<div class="content-heading">
	<h4> PLM Hymn </h4>
</div>

<h4> Pamantasang Mahal </h4>

<p>
Pamantasan, Pamantasang Mahal <br />
Nagpupugay kami't nag-aalay <br />
Ng Pag-ibig, taos na paggalang <br />
Sa patnubay ng aming isipan. <br />
</p>

<p>
Karunungang tungo'y kaunlaran <br />
Hinuhubog kaming kabataan <br />
Maging Pilipinong mero'ng dangal <br />
Puso'y tigib ng kadakilaan. <br />
</p>

<p>
Pamantasang Lungsod ng Maynila <br />
Kaming lahat dito'y iyong punla <br />
Tutuparin pangarap mo't nasa <br />
Pamantasan kami'y nanunumpa. <br />
Pamantasan kami'y nanunumpa. <br />
</p>

<small>
The lyrics of the <em>University Hymn</em> was composed in 1968 by <strong> Gatpuno Antonio J. Villegas </strong>, 
Mayor of Manila, and was presented to the Board of Regents in Maharnilad
(official name of the famous Manila City Hall). 
The music was composed by <strong>Prof. Felipe Padilla de Leon</strong>.
</small>

<hr>

<h4> PLM Mabuhay </h4>

<p>
Tayo’y magdiwang <br />
PLM Mabuhay! <br />
Ang dunong mong aral <br />
Ay aming patnubay. <br />
</p>

<p>
Kami’y Nagpupugay <br />
Ng buong paggalang <br />
Dangal ka ng bayan <br />
PLM Mabuhay! <br />
</p>

<p>
Ang karunungan na tanging yaman <br />
Ay humuhubog ng gintong asal <br />
Sa kaunluran amin kang ilaw <br />
Tanging liwanag upang magtagumpay. <br />
</p>

<p>
‘Di malilimutan ang kadakilaan <br />
Mananatili ka sa puso’t isipan <br />
Dangal ka ng bayan <br />
PLM Mabuhay! <br />
</p>
