@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);
html,
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.space {
  background: transparent; }
  .space hr {
    margin: 0; }
  .space.space-half-50 {
    padding-top: 25px;
    padding-bottom: 25px; }
  .space.space-half-100 {
    padding-top: 50px;
    padding-bottom: 50px; }
  .space.space-half-150 {
    padding-top: 75px;
    padding-bottom: 75px; }
  .space.space-25 {
    padding-bottom: 25px; }
  .space.space-50 {
    padding-bottom: 50px; }
  .space.space-75 {
    padding-bottom: 75px; }
  .space.space-100 {
    padding-bottom: 100px; }
  .space.space-150 {
    padding-bottom: 150px; }

@-webkit-keyframes element_spin_easing {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  60 {
    -webkit-transform: rotate(75deg);
    transform: rotate(75deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes element_spin_easing {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  60 {
    -webkit-transform: rotate(75deg);
    transform: rotate(75deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes element_spin_easing {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  60 {
    -webkit-transform: rotate(75deg);
    transform: rotate(75deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  border: 2px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-transition: 0s all;
  transition: 0s all;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
  .btn:hover, .btn:focus {
    background: transparent;
    border-color: #e0e0e0;
    color: #e0e0e0;
    text-decoration: none; }
  .btn:active, .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }
  .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none; }

.btn-default {
  color: #e0e0e0;
  background-color: transparent;
  border-color: #dddddd;
  -webkit-transition: 0.5s all;
  transition: 0.5s all; }
  .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
    color: white;
    background-color: #dddddd;
    border-color: transparent; }
  .open .btn-default.dropdown-toggle {
    color: #e0e0e0;
    background-color: transparent;
    border-color: #bebebe; }
  .btn-default:active, .btn-default.active {
    background-image: none; }
  .open .btn-default.dropdown-toggle {
    background-image: none; }
  .btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default[disabled].active, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
    color: white;
    background-color: #dddddd;
    border-color: 0; }

.btn-primary {
  color: white;
  background-color: transparent;
  border-color: #357ebd;
  -webkit-transition: 0.5s all;
  transition: 0.5s all; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color: white;
    background-color: #428bca;
    border-color: transparent; }
  .open .btn-primary.dropdown-toggle {
    color: white;
    background-color: transparent;
    border-color: #285e8e; }
  .btn-primary:active, .btn-primary.active {
    background-image: none; }
  .open .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    color: white;
    background-color: #428bca;
    border-color: 0; }

.btn-warning {
  color: #faea47;
  background-color: transparent;
  border-color: #eea236;
  -webkit-transition: 0.5s all;
  transition: 0.5s all; }
  .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active {
    color: white;
    background-color: #faea47;
    border-color: transparent; }
  .open .btn-warning.dropdown-toggle {
    color: #faea47;
    background-color: transparent;
    border-color: #d58512; }
  .btn-warning:active, .btn-warning.active {
    background-image: none; }
  .open .btn-warning.dropdown-toggle {
    background-image: none; }
  .btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
    color: white;
    background-color: #faea47;
    border-color: 0; }

.btn-danger {
  color: #e33147;
  background-color: transparent;
  border-color: #d43f3a;
  -webkit-transition: 0.5s all;
  transition: 0.5s all; }
  .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active {
    color: white;
    background-color: #e33147;
    border-color: transparent; }
  .open .btn-danger.dropdown-toggle {
    color: #e33147;
    background-color: transparent;
    border-color: #ac2925; }
  .btn-danger:active, .btn-danger.active {
    background-image: none; }
  .open .btn-danger.dropdown-toggle {
    background-image: none; }
  .btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled]:active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
    color: white;
    background-color: #e33147;
    border-color: 0; }

.btn-success {
  color: #4eea8f;
  background-color: transparent;
  border-color: #4cae4c;
  -webkit-transition: 0.5s all;
  transition: 0.5s all; }
  .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active {
    color: white;
    background-color: #4eea8f;
    border-color: transparent; }
  .open .btn-success.dropdown-toggle {
    color: #4eea8f;
    background-color: transparent;
    border-color: #398439; }
  .btn-success:active, .btn-success.active {
    background-image: none; }
  .open .btn-success.dropdown-toggle {
    background-image: none; }
  .btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success[disabled].active, fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
    color: white;
    background-color: #4eea8f;
    border-color: 0; }

.btn-info {
  color: #2aadc7;
  background-color: transparent;
  border-color: #46b8da;
  -webkit-transition: 0.5s all;
  transition: 0.5s all; }
  .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active {
    color: white;
    background-color: #2aadc7;
    border-color: transparent; }
  .open .btn-info.dropdown-toggle {
    color: #2aadc7;
    background-color: transparent;
    border-color: #269abc; }
  .btn-info:active, .btn-info.active {
    background-image: none; }
  .open .btn-info.dropdown-toggle {
    background-image: none; }
  .btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info[disabled].active, fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
    color: white;
    background-color: #2aadc7;
    border-color: 0; }

.btn-inverse {
  color: #36312f;
  background-color: transparent;
  border-color: #36312f;
  -webkit-transition: 0.5s all;
  transition: 0.5s all; }
  .btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active, .btn-inverse.active {
    color: white;
    background-color: #36312f;
    border-color: transparent; }
  .open .btn-inverse.dropdown-toggle {
    color: #36312f;
    background-color: transparent;
    border-color: #151313; }
  .btn-inverse:active, .btn-inverse.active {
    background-image: none; }
  .open .btn-inverse.dropdown-toggle {
    background-image: none; }
  .btn-inverse.disabled, .btn-inverse.disabled:hover, .btn-inverse.disabled:focus, .btn-inverse.disabled:active, .btn-inverse.disabled.active, .btn-inverse[disabled], .btn-inverse[disabled]:hover, .btn-inverse[disabled]:focus, .btn-inverse[disabled]:active, .btn-inverse[disabled].active, fieldset[disabled] .btn-inverse, fieldset[disabled] .btn-inverse:hover, fieldset[disabled] .btn-inverse:focus, fieldset[disabled] .btn-inverse:active, fieldset[disabled] .btn-inverse.active {
    color: white;
    background-color: #36312f;
    border-color: 0; }

.nav-canopy {
  height: 50px;
  background-color: #e6e6e6;
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden; }
  .nav-canopy:before, .nav-canopy:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .nav-canopy:after {
    clear: both; }
  .nav-canopy a {
    color: #e33147;
    text-decoration: none; }
  .nav-canopy .nav-canopy-heading {
    float: left; }
    .nav-canopy .nav-canopy-heading > a {
      vertical-align: top; }
      .nav-canopy .nav-canopy-heading > a:hover {
        -webkit-transition: 0s all;
        transition: 0s all;
        color: #bb192d; }
      .nav-canopy .nav-canopy-heading > a .nav-canopy-logo {
        display: inline-block;
        margin-right: 5px;
        width: 33px;
        height: 33px; }
        .nav-canopy .nav-canopy-heading > a .nav-canopy-logo img {
          margin-top: -5px;
          width: 100%;
          height: 100%; }
  .nav-canopy .nav-canopy-links {
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    float: right; }
    @media (max-width: 480px) {
      .nav-canopy .nav-canopy-links {
        display: none; } }
    .nav-canopy .nav-canopy-links > li {
      font-size: 20px;
      display: inline-block;
      margin-left: 5px; }
    .nav-canopy .nav-canopy-links > li:hover > a {
      color: #e33147;
      -webkit-transition: all 1s;
      transition: all 1s; }
    .nav-canopy .nav-canopy-links > li > a {
      color: #c8c8c8; }

.navbar {
  height: 75px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0; }

.navbar-fixed {
  top: 0;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  z-index: 1500; }

.navbar-collapse {
  padding: 0; }

.navbar-plm {
  background-color: white; }
  .navbar-plm .navbar-brand {
    color: #e33147; }
    .navbar-plm .navbar-brand:hover, .navbar-plm .navbar-brand:focus {
      color: #c61b30;
      background-color: transparent; }
  .navbar-plm .navbar-text {
    color: #e33147; }
  .navbar-plm .navbar-nav > li {
    height: 75px;
    border-top: 2px solid transparent; }
  .navbar-plm .navbar-nav > li:not(.active):hover, .navbar-plm .navbar-nav > li:not(.active):focus {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 2px solid #e33147;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
  .navbar-plm .navbar-nav > li > a {
    color: #e33147;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 30px; }
  .navbar-plm .navbar-nav > li > a:hover, .navbar-plm .navbar-nav > li > a:focus {
    color: #600000;
    background: transparent; }
  .navbar-plm .navbar-nav > .active {
    background-color: #e33147; }
  .navbar-plm .navbar-nav > .active > a, .navbar-plm .navbar-nav > .active > a:hover, .navbar-plm .navbar-nav > .active > a:focus {
    color: white; }
  .navbar-plm .navbar-nav > .disabled > a {
    color: #cccccc;
    background-color: transparent; }
  .navbar-plm .navbar-toggle {
    border-color: #dddddd; }
    .navbar-plm .navbar-toggle:hover, .navbar-plm .navbar-toggle:focus {
      background-color: #dddddd; }
    .navbar-plm .navbar-toggle .icon-bar {
      background-color: #cccccc; }
  .navbar-plm .navbar-collapse,
  .navbar-plm .navbar-form {
    border-color: 0; }
  .navbar-plm .navbar-nav > .dropdown > a:hover .caret,
  .navbar-plm .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #600000;
    border-bottom-color: #600000; }
  .navbar-plm .navbar-nav > .open > a, .navbar-plm .navbar-nav > .open > a:hover, .navbar-plm .navbar-nav > .open > a:focus {
    background-color: #eeeeee;
    color: #555555; }
    .navbar-plm .navbar-nav > .open > a .caret, .navbar-plm .navbar-nav > .open > a:hover .caret, .navbar-plm .navbar-nav > .open > a:focus .caret {
      border-top-color: #555555;
      border-bottom-color: #555555; }
  .navbar-plm .navbar-nav > .dropdown > a .caret {
    border-top-color: #e33147;
    border-bottom-color: #e33147; }
  @media (max-width: 767px) {
    .navbar-plm .navbar-nav .open .dropdown-menu > li > a {
      color: #e33147; }
      .navbar-plm .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-plm .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #600000;
        background-color: transparent; }
    .navbar-plm .navbar-nav .open .dropdown-menu > .active > a, .navbar-plm .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-plm .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #555555;
      background-color: #eeeeee; }
    .navbar-plm .navbar-nav .open .dropdown-menu > .disabled > a, .navbar-plm .navbar-nav .open .dropdown-menu > .disabled > a:hover, .navbar-plm .navbar-nav .open .dropdown-menu > .disabled > a:focus {
      color: #cccccc;
      background-color: transparent; } }
  .navbar-plm .navbar-link {
    color: #e33147; }
    .navbar-plm .navbar-link:hover {
      color: #600000; }

footer {
  background-color: #121010;
  height: 75px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: white;
  font-size: 14px;
  overflow: hidden; }
  footer:before, footer:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  footer:after {
    clear: both; }
  @media (max-width: 720px) {
    footer {
      padding-top: 30px;
      font-size: 10px; } }
  @media (max-width: 720px) {
    footer p {
      margin: 0; } }
  footer a {
    text-decoration: none;
    color: white; }
    footer a:hover {
      text-decoration: none; }
  footer ul.social-media {
    display: inline;
    padding-left: 5px; }
  @media (max-width: 480px) {
    footer ul.social-media {
      display: none; } }
  footer ul.social-media > li {
    margin-left: 2px;
    margin-right: 2px;
    display: inline;
    list-style: none; }
  footer ul.social-media > li > a:hover, footer ul.social-media > li > a:active, footer ul.social-media > li > a:focus {
    color: #e33147;
    -webkit-transition: 0.35s all;
    transition: 0.35s all; }
  @media (max-width: 720px) {
    footer .special-remarks {
      display: none; } }
  footer .special-remarks a {
    color: white;
    font-weight: 700;
    text-shadow: 0 0 2px gray; }
    footer .special-remarks a:hover {
      text-shadow: 0 0 2px white;
      -webkit-transition: 0.35s all;
      transition: 0.35s all; }

.breadcrumb-container {
  height: 50px;
  background: #e33147;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px; }
  .breadcrumb-container .breadcrumb {
    /* Removes the provided breadcrumb body by Bootstrap */
    background: none;
    padding: 0; }
    .breadcrumb-container .breadcrumb li, .breadcrumb-container .breadcrumb li a, .breadcrumb-container .breadcrumb li .active {
      color: white;
      vertical-align: middle; }
    .breadcrumb-container .breadcrumb li + li:before {
      color: white;
      /* Removes the special-glow on active breadcrumb item */
      text-shadow: none; }
    .breadcrumb-container .breadcrumb li.active {
      /* Organize */
      text-shadow: 0 0 2px gray;
      font-weight: 700; }
      .breadcrumb-container .breadcrumb li.active:hover {
        text-shadow: 0 0 2px white;
        -webkit-transition: 0.35 all;
        transition: 0.35 all; }

.countdown-timer {
  background: #e33147;
  height: 50px;
  color: white;
  text-align: center;
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
  padding-top: 12px;
  padding-bottom: 12px; }
  @media (max-width: 640px) {
    .countdown-timer {
      padding-top: 4px;
      padding-bottom: 4px; } }
  .countdown-timer .countdown-text {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
    .countdown-timer .countdown-text > .extra {
      font-size: 14px;
      font-weight: 600;
      /* Convert this to a global utility */ }
      @media (max-width: 640px) {
        .countdown-timer .countdown-text > .extra .screen-only {
          display: none; } }
      @media (max-width: 720px) {
        .countdown-timer .countdown-text > .extra {
          font-size: 10px; } }
      @media (max-width: 640px) {
        .countdown-timer .countdown-text > .extra {
          display: block; } }

.content {
  background: white;
  padding-top: 50px;
  padding-bottom: 50px; }
  .content.content-gray {
    background: #e6e6e6; }
  .content.content-no-padding {
    padding: 0; }
  .content .content-heading {
    margin-bottom: 50px; }
  .content .content-heading h1, .content .content-heading h2, .content .content-heading h3, .content .content-heading h4, .content .content-heading h5 {
    text-transform: uppercase;
    color: #e33147;
    font-weight: 700;
    text-align: center;
    margin-top: 0; }
  .content .content-heading::after {
    content: "";
    border-bottom: 5px solid #e33147; }

.news-first-row {
  margin-bottom: 50px; }
  @media (max-width: 768px) {
    .news-first-row {
      margin-bottom: 0; } }

@media (max-width: 768px) {
  .recent-news {
    margin-bottom: 50px; } }
.recent-news .news-cover {
  height: 300px;
  width: 100%;
  overflow: hidden;
  background-color: white;
  border-radius: 3px 3px 0 0; }
  .recent-news .news-cover img {
    width: 100%;
    height: 100%; }
.recent-news .news-title {
  height: 50px;
  width: 100%;
  background-color: white;
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 2px 3px #dddddd;
  box-shadow: 0 2px 3px #dddddd; }
.recent-news .news-title .news-head {
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 70%; }
.recent-news .news-title .news-icon-container {
  border-right: 1px solid #dddddd;
  font-size: 24px;
  height: 24px;
  padding-right: 0; }
.recent-news .news-title .news-icon-container .news-icon {
  vertical-align: top; }

.recent-x {
  position: relative;
  margin-bottom: 50px; }
.recent-x .x-date {
  position: absolute;
  top: 15px;
  left: 15px;
  background: rgba(0, 0, 0, 0.5);
  width: 75px;
  height: 75px;
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
  padding-top: 8px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  border-radius: 3px;
  color: white; }
  .recent-x .x-date .date-day {
    display: block;
    font-size: 56px;
    margin: -17px; }
  .recent-x .x-date .date {
    text-transform: uppercase; }
.recent-x .x-cover {
  height: 400px;
  width: 100%;
  border-radius: 3px;
  overflow: hidden; }
  .recent-x .x-cover img {
    width: 100%;
    height: 100%; }
.recent-x .x-title {
  position: absolute;
  top: 350px;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
  padding: 12px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-shadow: 0 1px 0 #000;
  border-radius: 0 0 3px 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.recent-x-sm-first-two {
  margin-bottom: 12px; }
  @media (max-width: 720px) {
    .recent-x-sm-first-two {
      margin-top: 12px;
      margin-bottom: 0; } }

.recent-x-sm-last-two {
  margin-top: 12px; }
  @media (max-width: 720px) {
    .recent-x-sm-last-two {
      display: none; } }

.recent-x-sm {
  position: relative; }
.recent-x-sm .x-date {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0, 0, 0, 0.3);
  width: 60px;
  height: 60px;
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 1px;
  padding-right: 1px;
  text-align: center;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 700;
  border-radius: 3px;
  color: white; }
  .recent-x-sm .x-date .date-day {
    display: block;
    font-size: 44px;
    margin: -10px; }
  .recent-x-sm .x-date .date {
    text-transform: uppercase; }
.recent-x-sm .x-cover {
  height: 188px;
  width: 100%;
  border-radius: 3px;
  overflow: hidden; }
  .recent-x-sm .x-cover img {
    width: 100%;
    height: 100%; }
.recent-x-sm .x-title {
  position: absolute;
  top: 163px;
  width: 100%;
  height: 25px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-box-sizing: padding-box;
  -moz-box-sizing: padding-box;
  box-sizing: padding-box;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  text-shadow: 0 1px 0 #000;
  border-radius: 0 0 3px 3px; }

.ngProgressLiteBar {
  background: #e33147; }

.ngProgressLite .ngProgressLiteBarShadow {
  -webkit-box-shadow: 0 0 10px #e33147, 0 0 5px #e33147;
  box-shadow: 0 0 10px #e33147, 0 0 5px #e33147; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-loading .slick-list {
    background: white url("./ajax-loader.gif") center center no-repeat; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:focus,
  .slick-next:focus {
    outline: none; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  .slick-prev:before {
    content: "\2190"; }

.slick-next {
  right: -25px; }
  .slick-next:before {
    content: "\2192"; }

/* Dots */
.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0px;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0px 5px;
    padding: 0px;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: 0;
      line-height: 0;
      font-size: 0;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:focus {
        outline: 0; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "\2022";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      opacity: 0.75; }

.slick-slider {
  margin: 0; }

.slick-slide img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 768px; }
  @media screen and (max-width: 1920px) {
    .slick-slide img {
      height: 1080px; } }
  @media screen and (max-width: 1600px) {
    .slick-slide img {
      height: 900px; } }
  @media screen and (max-width: 1280px) {
    .slick-slide img {
      height: 720px; } }
  @media screen and (max-width: 720px) {
    .slick-slide img {
      height: 480px; } }

/* Todo: enlargen; responsive */
.slick-dots {
  bottom: 25px; }
  .slick-dots li button:before {
    color: #fff;
    content: "";
    font-size: 10px;
    opacity: 0.25;
    background-color: #fff;
    width: 10px;
    height: 10px;
    -webkit-box-shadow: 1px 1px 5px #121010;
    box-shadow: 1px 1px 5px #121010; }
  .slick-dots li.slick-active button:before {
    opacity: 1;
    /* include an animation */
    -webkit-animation-name: element_spin_easing;
    animation-name: element_spin_easing;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1; }

.slick-prev,
.slick-next {
  margin: 0;
  height: 100px;
  width: 50px;
  background: #000;
  top: 334px; }
  @media (max-width: 1920px) {
    .slick-prev,
    .slick-next {
      top: 490px; } }
  @media (max-width: 1600px) {
    .slick-prev,
    .slick-next {
      top: 400px; } }
  @media (max-width: 1280px) {
    .slick-prev,
    .slick-next {
      top: 310px; } }
  @media (max-width: 720px) {
    .slick-prev,
    .slick-next {
      top: 190px; } }
  .slick-prev:before,
  .slick-next:before {
    font-size: 50px;
    font-family: 'FontAwesome'; }

.slick-prev {
  left: 0; }
  .slick-prev:before {
    /* Change slick's default left caret to fa's left caret */
    content: "\f0d9"; }

.slick-next {
  right: 0; }
  .slick-next:before {
    /* Change slick's default right caret to fa's right caret */
    content: "\f0da"; }
