.navbar-cus {
	background-color: #fff;
	border-radius: 0;
	height: 60px;
	color: #000;
	font-size: 12px;
	text-transform: uppercase;
	box-shadow: 1px 0 2px #b6b6b6;
	margin-top: 0;
	margin-bottom: 0;
	/*position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;*/
	z-index: 100;
}

.navbar * {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
	box-sizing: border-box;
}

.navbar .navbar-brand {
	font-weight: 700;
}

.navbar .collapse.navbar-collapse {
	height: auto !important;
}

.navbar-cus ul,
.navbar-cus ul li a,
.navbar-cus ul li {
	height: 60px;
}

.navbar-cus ul li a,
.navbar-cus .navbar-brand {
	font-family: 'Montserrat', 'Source Sans Pro', 'Helvetica', 'Helvetica Neue', serif, sans-serif;
	/*color: #0033FF;*/
}

.navbar-cus ul li a:focus,
.navbar-cus ul li a:hover,
.navbar-cus ul li.active a {
	background-color: transparent;
	font-weight: 700;
	border-bottom: 5px solid #0033FF;
	font-size: 12px;

	transition: 0.5s ease border;
		-webkit-transition: 0.5s ease border;
		-moz-transition: 0.5s ease border;
		-o-transition: 0.5s ease border;
}

.navbar .navbar-logo {
	/*display: inline;*/
	height: 35px;
	width: 35px;
}

.navbar .navbar-brand {
	position: relative;
	top: -5px;
}