@import "../util/_variables";

html,
body {
	font-family: "Open Sans";
}

p {
	font-family: "Merriweather";
	color: #3F3F3F;
	line-height: 26px;
	margin-top: 26px;
}

.container {
	width: 1024px !important;
}