@import "../util/_variables";

.countdownTimer {
	background: $countdown-bg;
	height: $countdown-height;
	color: $countdown-text-color;
	text-align: center;
	box-sizing: padding-box;
	padding-top: $countdown-padding;
	padding-bottom: $countdown-padding;

	.countdownTimer-text {
		margin-top: 6px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: $countdown-text-size;

		@include ellipsis-overflow();

		> .extra {
			font-size: $countdown-text-extra-size;
			font-weight: 600;
		}
	}
}