@import "../util/_variables";

footer {
	background-color: $footer-bg;
	height: $footer-height;
	padding-top: $footer-padding-top;
	padding-bottom: $footer-padding-bottom;
	color: $footer-font-color;
	font-size: $footer-font-size;
	overflow: hidden;

	a {
		text-decoration: none;
		color: $footer-link-color;

		&:hover {
			text-decoration: none;
		}
	}

	ul.social-media {

		& {
			display: inline;
			padding-left: $footer-social-media-padding;
		}

		> li {
			margin-left: $footer-social-media-margin-left;
			margin-right: $footer-social-media-margin-right;
			display: inline;
			list-style: none;
		}

		> li > a {

			&:hover,
			&:active,
			&:focus, {
				color: $footer-social-media-hover-color;
				transition: $footer-social-media-transition-duration all;
			}
		}
	}

	.special-remarks {

		a {
			color: $footer-link-color;
			font-weight: 700;

			@include special-glow-custom($footer-special-remarks-link-soft, $footer-special-remarks-link-shadow-color, $footer-special-remarks-link-transition);
		}
	}
}