<div class="list-group">	
	<a ui-sref="main.university-profile.mission-vision" class="list-group-item" ng-class="{ active: $state.includes('main.university-profile.mission-vision') }"> Life Purpose & Mission and Vision </a>
	<a ui-sref="main.university-profile.philosophy" class="list-group-item" ng-class="{ active: $state.includes('main.university-profile.philosophy') }"> Educational Philosophy </a>
	<a ui-sref="main.university-profile.history" class="list-group-item" ng-class="{ active: $state.includes('main.university-profile.history') }"> Brief History </a>
	<a ui-sref="main.university-profile.geographical-history" class="list-group-item" ng-class="{ active: $state.includes('main.university-profile.geographical-history') }"> Geographical History </a>
	<a ui-sref="main.university-profile.milestone-events" class="list-group-item" ng-class="{ active: $state.includes('main.university-profile.milestone-events') }"> Milestone Events </a>
	<a ui-sref="main.university-profile.hymn" class="list-group-item" ng-class="{ active: $state.includes('main.university-profile.hymn') }"> PLM Hymn </a>
	<a ui-sref="main.university-profile.seal-and-colors" class="list-group-item" ng-class="{ active: $state.includes('main.university-profile.seal-and-colors') }"> Seal and Colors </a>
	<a ui-sref="main.university-profile.university-charter" class="list-group-item" ng-class="{ active: $state.includes('main.university-profile.university-charter') }"> University Charter </a>
	<a ui-sref="main.university-profile.linkages-networks" class="list-group-item" ng-class="{ active: $state.includes('main.university-profile.linkages-networks') }"> Linkages and Networks </a>
	<a ui-sref="main.university-profile.memberships" class="list-group-item" ng-class="{ active: $state.includes('main.university-profile.memberships') }"> Memberships </a>
	<a ui-sref="main.university-profile.developmental-thrust" class="list-group-item" ng-class="{ active: $state.includes('main.university-profile.developmental-thrust') }"> Developmental Thrust </a>
</div>