<div class="content-heading">
	<h4> Recents Galleries </h4>
</div>

<div class="row" ng-controller="AlbumCtrl">
	<div class="col-md-6 col-xs-12">
		<div class="recent-x">
			<div class="x-date">
				<span class="date-day" ng-bind="bundle[0].created_at | date: 'd'"> 00 </span>
				<span class="date"  ng-bind="bundle[0].created_at | date: 'MMM, yyyy'"> MMM, yyyy </span>
			</div>

			<div class="x-cover">
				<img src="assets/img/n.jpg">
			</div>

			<div class="x-title">
				<span ng-bind="bundle[0].title"> Title </span>
			</div>
		</div>
	</div>

	<div class="col-md-3 col-xs-6" ng-repeat="album in bundleSM" ng-class="{ 'recent-x-sm-first-two': $index <= 1, 'recent-x-sm-last-two': $index >= 2 }">
		<div class="recent-x-sm">
			<div class="x-date">
				<span class="date-day" ng-bind="album.created_at | date: 'd'"> 23 </span>
				<span class="date" ng-bind="album.created_at | date: 'MMM, yyyy'"> JUN, 2013 </span>
			</div>

			<div class="x-cover">
				<img src="assets/img/n.jpg">
			</div>

			<div class="x-title">
				<span ng-bind="album.title"> Title </span>
			</div>
		</div>
	</div>
</div>

<div class="text-center"> <a ui-sref="main.media.album" class="btn btn-danger"> View more albums... </a> </div>