<div class="container" ng-controller="NewsCtrl">
	<!-- heading -->
	<div class="content-heading">
		<h4> Recent News </h4>
	</div>

	<div class="row">
	
		<!-- item -->
		<div class="col-md-4 news-first-row" ng-repeat="article in bundle">
			<div class="recent-news">
				<div class="news-cover">
					<img src="assets/img/n.jpg">
				</div>

				<div class="news-title">
					<div class="row">
						<div class="col-md-3 col-xs-3 text-center news-icon-container">
							<span class="fa fa-pencil news-icon"></span>
						</div>

						<div class="col-md-9 col-xs-9 news-head">
							{{ article.title }}
						</div>
					</div>
				</div>
			</div>
		</div>
				
	</div> <!-- /.row -->

	<!-- paginator -->
	<div ng-include src="'/src/main/components/media/news/_partials/paginator.html'"></div>
</div> <!-- /.container -->
