@import "_variables";

.space {
	background: transparent;

	// border-bottom: 1px solid $gr;

	hr {
		margin: 0;
	}

	&.space-half-50 { padding-top: 25px; padding-bottom: 25px; }
	&.space-half-100 { padding-top: 50px; padding-bottom: 50px; }
	&.space-half-150 { padding-top: 75px; padding-bottom: 75px; }

	&.space-25 { 	padding-bottom: 25px; }
	&.space-50 {	padding-bottom: 50px; }
	&.space-75 {	padding-bottom: 75px; }
	&.space-100 {	padding-bottom: 100px; }
	&.space-150 {	padding-bottom: 150px; }
}